@use '@scssVariables' as *;

.card {
  @extend %main-border-radius;

  position: relative;

  height: 531px;

  background: linear-gradient(360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%);

  cursor: pointer;

  overflow: hidden;

  @include tablet() {
    height: 318px;
  }

  @include hover {
    &:hover .image {
      transform: scale(1.2);
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  padding: 50px;

  color: $white;

  @include tablet() {
    padding: 25px;
  }
}

.promo p {
  @extend %p-small;
}

.title {
  margin-bottom: 16px;

  @include tablet() {
    margin-bottom: 13px;
  }

  &--transfer {
    @media only screen and (min-width: #{$desktopScreenSize}px) {
      display: block;
      content: '\A';
      white-space: pre;
    }
  }
}

.image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: transform 300ms ease;
}