@use '@scssVariables' as *;
@use '../layout/variablesForm.scss' as *;

.custom-arrow {
    position: relative;

    &::after {
        content: '';
        z-index: 1;

        position: absolute;
        top: 67%;
        right: 20px;

        display: block;

        width: 26px;
        height: 26px;

        background-image: url('/image/icons/ic-dropdown.svg');
        background-repeat: no-repeat;
        background-size: cover;

        pointer-events: none;

        transform: translateY(-50%);

        @include tablet() {
            right: 10px;
        }

        @include mobile() {
            top: 70%;
        }
    }
}

.select {
    @extend %input-base;

    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    padding-right: 50px;

    color: $black;

    @include tablet() {
        padding: 9px 50px 9px 9px;
    }

    @include mobile() {
        padding: 10.5px 50px 10.5px 9px;
    }

    &::-ms-expand {
        display: none;
    }

    & option {
        background-color: $white;

        color: $black;
    }
}

.placeholder {
    @extend %placeholder;
}