@use '@scssVariables' as *;

.root {
  background: $beige200;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 25px;

  padding: 30px 1px;

  @include tablet() {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 7px;
  }

  @include mobile() {
    padding: 21px 1px;
  }
}

.text {
  color: $gray300;
}

.social {
  display: flex;
  gap: 25px;

  padding: 0;

  list-style: none;

  @include tablet() {
    gap: 15px;
  }
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;

  @include tablet() {
    gap: 5px;
  }
}

.image-wrapper {
  overflow: hidden;
  width: 26px;
  height: 26px;

  @include tablet() {
    width: 20px;
    height: 21px;
  }
}

.link {
  text-decoration: none;

  @include hover {
    &:hover {
      text-decoration-line: underline;
      text-underline-offset: 4px;
    }

    &:active {
      text-decoration-line: underline;
      text-underline-offset: 4px;
    }
  }
}