@use '@scssVariables' as *;

.header {
  @extend %section-mrg-bottom;

  background-image: url('/image/header/header-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: $white;

  @include desktop() {
    background-image: url('/image/header/header-img-small.jpg');
  }
}

.nav-fixed {
  padding-top: 88px;
}

.content {
  max-width: 768px;
  margin: 0 auto;
  padding: 119px 0;

  text-align: center;

  @include tablet() {
    padding: 52px 0;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @include tablet() {
      gap: 40px;
    }
  }

  &__title {
    margin: auto;

    @include tablet() {
      max-width: 360px;
      padding: 0;
    }
  }

  &__text {
    max-width: 612px;
    padding: 0 25px;

    @include desktop() {
      max-width: 492px;
    }

    @include tablet() {
      max-width: 360px;
    }
  }
}

.btn {
  @extend %p-small;

  padding: 5px 20px;

  background: $white;
  border-radius: 10px;

  text-decoration: none;

  cursor: pointer;

  transition: all 0.3s ease;

  @include hover {
    &:hover {
      background-color: $orange200;
    }

    &:hover span {
      color: $white;
    }

    &:active {
      background-color: $orange100;
    }

    &:active span {
      color: $black;
    }
  }

  & span {
    color: $black;

    transition: all 0.3s ease;
  }
}