@use '@/styles/sassVaribles' as *;

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 30px;

    @include desktop() {
        gap: 18px;
    }
}

.cards {
    flex-basis: calc((100%/3) - 20px);

    @include desktop() {
        flex-basis: calc(50% - 9px);
    }

    @include mobile() {
        flex-basis: calc(100%);
    }
}