@use '@scssVariables' as *;
@import 'normalize.css/normalize.css';

:root {
  box-sizing: border-box;

  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;


}

button {
  -webkit-appearance: none;
  appearance: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  border: 0;
  background: none;

  vertical-align: baseline;
  color: inherit;
}

:focus {
  outline: 0;
}

a,
a:link,
a:visited {
  color: inherit;
}

h1 {
  @include font(normal 700 96px / 105px 'Roboto', 1.92px);

  @include tablet() {
    @include font(normal 700 34px / 38px 'Roboto', 0.68px);
  }
}

h2 {
  @include font(normal 700 59px / 73px 'Roboto');

  @include tablet() {
    @include font(normal 700 34px / 38px 'Roboto', 0.68px);
  }
}

h3 {
  @include font(normal 500 35px / 43px 'Roboto');

  @include tablet() {
    @include font(normal 700 23px / 28px 'Roboto', 0.92px);
  }
}

body {
  @extend %p-normal;

  background: $beige100;

  color: $black;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

main {
  flex: 1;
}