@use '@scssVariables' as *;

%field-base {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 8px;

    & *::placeholder {
        color: $gray300;
    }
}

%input-base {
    @extend %p-normal;

    display: block;

    width: 100%;
    padding: 19px;

    background-color: $beige100;
    border: 1px solid $beige100;
    border-radius: 10px;

    cursor: pointer;

    transition: all 0.3s ease;

    @include hover {
        &:focus {
            background-color: $beige200;
            border-color: $gray300;
        }

        &:hover {
            background-color: $beige200;
        }
    }
}


%invalid {
    border: 1px solid #f1c5c8;

    @include hover {
        &:focus {
            border-color: #f1c5c8;
        }

        &:hover {
            border-color: #f1c5c8;
        }
    }
}

%placeholder {
    color: $gray300 !important;
}