@use '@scssVariables' as *;
@use '../../layout/variablesForm.scss' as *;

.date {
    @extend %input-base;

    height: 68px;

    text-transform: uppercase;
    letter-spacing: -0.6px;

    @include tablet() {
        height: 43px;
        padding: 9px;
    }

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

.placeholder {
    @extend %placeholder;
}